html { 
  	background:  white; 
  	background-size: contain;
  	color:black;
  	font-family: Courier New, sans-serif;
}

a{
  color:black;
}

a:hover{
  background-color:black;
}

section{
  margin-top:10px;
  display: flex;
  justify-content: center;
}

p{
  margin-left:20px;
  margin-right:20px;
  font-size:15px;
  line-height:1.5em;
}

li{
  list-style: none;
  font-size:14px;
  line-height:1.2em;
}

.center{
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 50%;
}

#navigation{
	position:relative;
	margin-top:10px;
}

#nav-button{
  font-size: 13px;
  padding:5px 15px;
  text-align: center;
  color:black;
}

#nav-button:hover{
  color:black;
}

