html { 
  	background:  black url('Fish2.gif') no-repeat center center fixed; 
  	background-size: contain;
    background-position: right; 
  	color:white;
  	font-family: Courier New, sans-serif;
}

a{
  color:white;
}

a:hover{
  background-color: white;
}

ul{
  position: relative;
  margin-top:60px;
  margin-left:20px;
}

li{
  list-style:none;
  padding-top:40px;
}


#nav-button{
  font-size: 13px;
  padding:5px 15px;
  text-align: center;
  margin-top:10px;

  /*
  border:1px;
  border:0.5px solid white;
  width:40px;
  */
}

#nav-button:hover{
  color:black;
}

#youtube-audio{
  position: absolute;
  top:800px;
  right:0;
}

.now-playing{
  position: absolute;
    top: 10px;
    right: 10px;
  text-align: right;
  font-size:12px
}

.caption{
  font-style: italic;
  font-size:14px;
  padding-top:5px;
}