html { 
  	background:  black url('Fish2.gif') no-repeat center center fixed; 
  	background-size: contain;
    background-position: right; 
  	color:white;
  	font-family: Courier New, sans-serif;
}

a{
  color:white;
}

a:hover{
  background-color: white;
}

p{
  margin-left:50px;
}

ul{
  position: relative;
  margin-top:100px;
  margin-left:20px;
}

li{
  list-style:none;
  padding-top:40px;
}


#nav-button{
  font-size: 13px;
  padding:5px 15px;
  text-align: center;
  margin-top:10px;
}

#nav-button:hover{
  color:black;
}