/* SET UP
	general: black background; white font; Courier New, sans serif
	specific to this page: fish gif on right;
*/
html { 
	background:  black url('Fish2.gif') no-repeat center center fixed; 
  	background-size: 600px;
    	background-position: right; 
  	color:white;
  	font-family: Courier New, sans-serif;
}

/* LINKS
	general: white; hover, white highlight;
*/
a{
	color:white;
}

a:hover{
	background-color:white;
}



/* TEXT CONTENT
	font; navigation. specific to this page.  
*/

body p{
	font-size:13px;
	text-align: justify;
    text-justify: inter-word;
    line-height:1.5em;
}

table{
	text-align:center;
}

.container{
	position:absolute;
	left:80px;
	top:120px;
	right:550px;
}

/* LINKS TO OTHER PLATFORMS
	general, but only this page has links to other platforms. 
*/


#external-links{
	margin:auto;
}

#external-links td{
	font-size:15px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
}

#external-links hover{
	background-color: white;
}


#nav-button{
	font-size: 13px;
	padding:5px 15px;
	text-align: center;
	margin-top:10px;
}

