html { 
  	background:  black url('Fish2.gif') no-repeat center center fixed; 
  	background-size: contain;
  	color:white;
  	font-family: Courier New, sans-serif;
}

body p{
	float:right;
	font-size: 12px;
	text-align: right;
}

a{
	color:white;
}

a:hover{
	background:white;
}

header{
	font-size:50px;
}


#youtube-audio{
	margin-left:100px;
}

#navigation td{
	font-size:20px;
	padding-right:20px;
}

.container{
	margin-top: 330px;
	display: block;
  	justify-content: start;
}

.button{
	color:white;
	padding:5px 15px;
	text-align: center;
	margin-top:10px;
	border:1px;
	border:0.5px solid white;
	width:40px;
}

.button:hover{
	color:white;
}
