@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700');

body {
    color: black;
    font-family: Courier New, sans-serif;
}

img {
    vertical-align: baseline;
}



/*--------------------------------------------------------------
# Navigation Buttons
--------------------------------------------------------------*/

a{
    color:black;
}

a:hover{
    color:white;
    background-color:black;
}

#nav-button{
  font-size: 13px;
  padding:5px 15px;
  margin-bottom: 30px;
  text-align: center;
  margin-top:10px;
  margin-left:70px;
  color:black;

  /*
  border:1px;
  border:0.5px solid white;
  width:40px;
  */
}

#nav-button:hover{
  color:black;
}


/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex;
}

/*--------------------------------------------------------------
# Outer Container
--------------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .outer-container {
        padding-left: 80px;
    }
}

@media screen and (min-width: 768px) {
    .no-padding {
        padding: 0;
    }
}



/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-page {
    padding-top: 15px;
    font-family: Courier New, sans-serif;
}

.blog-page .blog-content figure,
.blog-page .blog-content .entry-content {
    width: 50%;
}

.blog-page .blog-content figure {
    margin: 0;
    overflow: hidden;
}

.blog-page .blog-content figure img {
    display: block;
    width: 100%;
    height: auto;
}

.blog-page .blog-content .entry-content {
    padding: 25px;
}

.blog-page .blog-content {
    transition: all .35s;
}

.blog-page .blog-content:hover {
    background: black;
}

.blog-page .blog-content header {
    width: 100%;
}

.blog-page .blog-content .entry-content h3 {
    position: relative;
}

.blog-page .blog-content .entry-content h3::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -35px ;
    z-index: 99;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #fff;
}

.blog-page .blog-content .entry-content h3 a {
    color: black;
    font-size: 1.125rem;
    font-weight: 500;
}

.blog-page .blog-content .posted-on {
    position: relative;
    margin-right: 20px;
    color: #bfbfbf;
    font-size: 0.875rem;
}

.blog-page .blog-content .posted-on::after {
    content: '/';
    position: absolute;
    top: 0;
    right: -14px;
}

.blog-page .blog-content footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog-page .blog-content footer li {
    padding: 0 3px;
    font-size: 0.875rem;
}

.blog-page .blog-content footer li a {
    color: #f0437e;
}

.blog-page .blog-content:hover .entry-content h3 a,
.blog-page .blog-content:hover .posted-by,
.blog-page .blog-content:hover .posted-on,
.blog-page .blog-content:hover footer li a {
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .blog-page .col-12:nth-of-type(even) .blog-content {
        flex-flow: row-reverse !important;
    }

    .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
        right: -50px;
        left: auto;
    }
}

@media screen and (max-width: 768px) {
    .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
        right: -35px;
    }

    .blog-page .blog-content .entry-content h3 {
        line-height: 1;
    }
}

@media screen and (min-width: 576px) {
    .blog-page .blog-content .entry-content h3 a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .blog-page {
        padding-top: 0;
    }

    .blog-page .blog-content .entry-content {
        padding: 35px 40px;
    }

    .blog-page .blog-content .entry-content h3::before {
        left: -50px ;
    }
}

@media screen and (min-width: 1200px) {
    .blog-page .blog-content.flex-row-reverse .entry-content h3::before {
        right: -50px;
        left: auto;
    }
}

/*--------------------------------------------------------------
# Single Blog Page
--------------------------------------------------------------*/
.single-post,
.single-page {
    padding-bottom: 70px;
    font-family: Courier New, sans-serif;
}

/*
# Featured Image
--------------------------------*/
.single-post .featured-img figure,
.single-page .featured-img figure {
    margin: 0;
}

.single-post .featured-img figure img,
.single-page .featured-img figure img {
    width: 100%;
}

/*
# Content Area
--------------------------------*/
.single-post .content-area,
.single-page .content-area {
    margin-top: 50px;
}

.single-post .entry-header .post-meta,
.single-page .entry-header .post-meta {
    text-transform: uppercase;
    font-size: 0.6875rem;
}

.single-post .entry-header .post-meta a,
.single-page .entry-header .post-meta a {
    display: inline-block;
    margin-right: 6px;
    color: #f0437e;
}

.single-post .content-area h1,
.single-page .content-area h1 {
    margin-top: 10px;
    font-size: 2.25rem;
    font-weight: 400;
}

.single-post .entry-header .byline,
.single-page .entry-header .byline {
    display: block;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 0.875rem;
    color: #bfbfbf;
}

.single-post .entry-header .byline .author a,
.single-page .entry-header .byline .author a {
    color: #191919;
}

.single-post .content-area .entry-content p,
.single-page .content-area .entry-content p {
    margin-bottom: 0.75rem;
    color: #595959;
}

/*
# Comments
--------------------------------*/
.post-comments {
    margin-top: 40px;
    padding-top: 52px;
    padding-bottom: 40px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.comments-title,
.comment-reply-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.post-comments .comment-list {
    padding: 0;
    margin: 0;
    list-style: none
}

.post-comments .comment-author-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 48px;
    margin-right: 22px;
    margin-bottom: 0;
    border-radius: 50%;
    overflow: hidden;
}

.post-comments .comment-author-avatar img {
    width: 100%;
    height: auto;
}

.post-comments .comment-wrap {
    float: right;
    width: calc(100% - 92px);
    margin-top: 44px;
}

.post-comments .comment-author .fn a {
    font-size: 1.125rem;
    color: #191919;
}

.post-comments .comment-author .comment-meta a {
    font-size: 0.875rem;
    color: #b7b7b7;
}

.post-comments p {
    margin-top: 5px;
    color: #595959;
}

.post-comments .reply {
    margin-top: 24px;
}

.post-comments .reply a {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    border: 1px solid #d2d2d4;
    border-radius: 2px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: #404040;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.35s;
}

.post-comments .reply a:hover {
    border-color: transparent;
    color: #fff;
    background: #f0437e;
}

.comment-list ol.children {
    padding: 0;
    margin-left: 92px;
    list-style: none;
}

.post-comments ol.children .comment-author-avatar {
    margin-top: 40px;
    margin-right: 22px;
}

.post-comments ol.children .comment-wrap {
    margin-top: 36px;
    width: calc(100% - 92px);
}

/*
# Comment Form
--------------------------------*/
.comments-form {
    margin-top: 52px;
}

.comment-reply-title {
    margin-bottom: 16px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    width: 100%;
    padding: 12px 24px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    line-height: 1;
    color: #a6a6a6;
    outline: none;
}

.comment-form textarea {
    line-height: 1.4;
}

.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form input[type="url"]:focus,
.comment-form textarea:focus {
    border-color: #232d37;
}

.comment-form input[type="submit"] {
    padding: 18px 30px;
    margin-top: 32px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    outline: none;
    cursor: pointer;
    background: #f0437e;
}

/*
# Post Sidebar
--------------------------------*/
.single-post .entry-meta {
    margin-top: 50px;
}

.single-post .entry-meta label {
    display: block;
    line-height: 1.3;
    text-transform: uppercase;
}

.single-post .date-format,
.single-post .post-category,
.single-post .posted-tags {
    display: block;
    margin-bottom: 26px;
}

.single-post .posted-tags span,
.single-post .entry-meta a {
    color: #bfbfbf;
}

.single-post .post-share label {
    text-transform: capitalize;
}

.single-post .post-share ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 18px 0 0;
    list-style: none;
}

.single-post .post-share ul li {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 1;
    color: #fff;
}

.single-post .post-share ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.single-post .post-share ul li.fb {
    background: #4b6cd0;
}

.single-post .post-share ul li.gp {
    background: #f03b3b;
}

.single-post .post-share ul li.in {
    background: #bb8950;
}

.single-post .post-share ul li.tw {
    background: #49a7f3;
}

@media screen and (min-width: 768px) {
    .post-comments .comment-author-avatar {
        margin-right: 50px;
    }

    .post-comments .comment-wrap {
        width: calc(100% - 120px);
    }

    .comment-list ol.children {
        margin-left: 120px;
    }
}

/*--------------------------------------------------------------
# Single Page
--------------------------------------------------------------*/
.single-page .content-area .entry-content {
    border-bottom: 0;
    padding-bottom: 12px;
}

.single-page .entry-header .byline .date-format a {
    color: #bfbfbf;
}
