html { 
  	background:  black; 
  	background-size: contain;
  	color:white;
  	font-family: Courier New, sans-serif;
}

a{
  color:white;
}

a:hover{
  background-color:white;
}

header{
  padding-top:20px;
  text-align:center;
}

body p{
  font-size:11px;
  text-align:center;
}

#nav-button{
  font-size: 13px;
  padding:5px 15px;
  text-align: center;
  margin-top:10px;
  color:black;

  /*
  border:1px;
  border:0.5px solid white;
  width:40px;
  */
}

#nav-button:hover{
  color:black;
}


/*
img{
  max-width:100%;
}

.col-1-4{
  width:25%;
  float:left;
}
*/


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33%;
  padding: 5px;
  box-sizing:border-box;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


#youtube-audio{
  margin-top:10000px;
}

.now-playing{
  position: absolute;
    top: 10px;
    right: 10px;
  text-align: right;
  font-size:12px;
}