html { 
  	background:  white; 
  	font-family: Courier New, sans-serif;
}

a{
  color:black;
}

a:hover{
  background-color: black;
}

ul{
  position: relative;
  margin-top:100px;
  margin-left:20px;
}

li{
  list-style:none;
  padding-top:40px;
}


#nav-button{
  font-size: 13px;
  padding:5px 15px;
  text-align: center;
  margin-top:10px;

  /*
  border:1px;
  border:0.5px solid white;
  width:40px;
  */
}

#nav-button:hover{
  color:black;
}


/* Center videos and images */

img {
    display: block;
    margin: 0 auto;
}

video{
	display: block;
    margin: 0 auto;
}
